body,
html {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 2.5vw;
    display: flex;
    justify-content: space-between;
    height: 63px;
    /* border-bottom: solid rgba(66, 66, 66, 0.137) 2px; */
    align-items: center;
    box-shadow: 0px 4px 4px 0 rgba(0, 30, 43, 0.1);
}

header a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header .rightNav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.rightNav a {
    font-weight: 100;
}

header .rightNav img {
    height: 6vh;
    border-radius: 100px;
}

.mainBaap {
    padding: 0 15vw;
}

.main {
    margin: auto;
    /* width: 70vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.books {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.bookData {
    font-size: 15px;
    line-height: 8px;
}

.bookData a {
    text-decoration: none;
    color: black;
}

.bookTitle {
    font-weight: 600;
}

.bookBack {
    /* height: 238px;
    width: 165px; */
    border-radius: 10px;
}

.books img {
    height: 190px;
    width: 70%;
    margin: 27px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    /* Force all to match height */
    /* object-fit: cover; */
    /* Crop and fill the area */
}

.main h2 {
    padding: 3vh 0 0;
    width: 80vw;
}

.mainBaapRegister {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 3vh 10vw;
}

.mainBaapRegister .mainRegister {
    display: flex;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    /* background-color: blue; */
    width: 360px;
    gap: 1.5vh;
    /* height: 70vh; */
}

.mainBaapRegister .mainRegister h2 {
    font-weight: 900;
}

.mainRegister form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
    /* height: 60vh; */
}

.mainRegister form div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vh;
    /* height: 8vh; */
}

.mainRegister form input {
    border-radius: 8px;
    /* height: 3.5vh; */
    background-color: rgb(239, 240, 241);
    border: none;
    padding: 13px;
    color: rgb(78, 78, 78);
}

.mainRegister form textarea {
    border-radius: 8px;
    /* height: 3.5vh; */
    background-color: rgb(239, 240, 241);
    border: none;
    padding: 13px;
    height: 10vh;
}

.mainRegister form .textarea {
    height: 16vh;
}

.mainRegister form .buttons {
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 2vw;
}

button {
    /* height: 36px; */
    padding: 1.5vh 2vw;
    border-radius: 50px;
    background-color: rgba(137, 137, 245, 0.459);
    border: none;
}

.titleButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgView {
    margin: 5vh 2.8vw;
    width: 81%;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.mainBaapview {
    padding: 1vh 15vw;
}

.imgBaapView {
    width: 30vw;
    border-radius: 10px;
}

.mainview>p {
    font-size: 13px;
    color: rgb(156, 155, 155);
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}

/* Tablets (portrait and smaller) */
@media (max-width: 1024px) {
    .mainBaap {
        padding: 0 15vw;
    }

    .books {
        /* width: 30%; */
    }

    .mainRegister {
        width: 70vw;
    }

    .imgBaapView {
        width: 69vw;
    }

    .imgView {
        margin: 6.5% 4.3vw;
        width: 60vw;
    }
}

/* Mobiles */
@media (max-width: 425px) {
    header {
        /* flex-direction: column; */
        height: auto;
        padding: 1vh 2.5vw;
    }

    .rightNav {
        /* flex-direction: column; */
        gap: 1vh;
        margin-top: 1vh;
    }

    h2 {
        font-size: 20px;
    }

    .mainBaap {
        padding: 0 5vw;
    }

    .books {
        max-width: 125px;
    }

    .bookBack {
        /* height: 180px;
        width: 130px; */
        border-radius: 10px;
    }

    .mainBaapview {
    padding: 1vh 7vw;
    }

    .books img {
        height: 81%;
        width: 80px;
        margin: 23px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
        /* object-fit: cover; */
    }

    .main {
        gap: 3vh;
    }

    .mainBaapRegister {
        padding: 5vh 5vw;
    }

    .mainRegister {
        width: 90vw;
    }

    /* .imgBaapView{
        width: 60vw;
    } */

    .imgView {
        width: 60vw;
    }

    button,
    .btn {
        width: 55px;
        font-size: 10px;
        padding: 5px;
        text-align: center;
    }
}